Surface Song Data/albumdict.txt
Surface Song Data/artistdict.txt
Surface Song Data/nowplaying.txt
Surface Song Data/nowplaying.txt~RF4cf6899.TMP
Surface Song Data/songdict.txt
Surface Song Data/songlog.db
data/failed_songs.json
data/
session_key
surface/surface song data newer/albumdict.txt
surface/surface song data newer/artistdict.txt
surface/surface song data newer/nowplaying.txt
surface/surface song data newer/nowplaying.txt~RF2ac2fae1.TMP
surface/surface song data newer/RichPresenceInfo.txt.~tmp
surface/surface song data newer/RichPresenceInfo.txt~RFd0aff43.TMP
surface/surface song data newer/songdict.txt
surface/surface song data newer/songlog.db
surface/Surface Song Data Older (done)/albumdict.txt
surface/Surface Song Data Older (done)/artistdict.txt
surface/Surface Song Data Older (done)/nowplaying.txt
surface/Surface Song Data Older (done)/nowplaying.txt~RF4cf6899.TMP
surface/Surface Song Data Older (done)/songdict.txt
surface/Surface Song Data Older (done)/songlog.db
ybbinpc pre win11/newer (large)/albumdict.txt
ybbinpc pre win11/newer (large)/artistdict.txt
ybbinpc pre win11/newer (large)/log.txt
ybbinpc pre win11/newer (large)/nowplaying.txt
ybbinpc pre win11/newer (large)/RichPresenceInfo.txt
ybbinpc pre win11/newer (large)/RichPresenceInfo.txt~RF1b8beae4.TMP
ybbinpc pre win11/newer (large)/RichPresenceInfo.txt~RF3163eda4.TMP
ybbinpc pre win11/newer (large)/RichPresenceInfo.txt~RF14729373.TMP
ybbinpc pre win11/newer (large)/RichPresenceInfo.txt~RFc784fdf.TMP
ybbinpc pre win11/newer (large)/songdict.txt
ybbinpc pre win11/newer (large)/songlog.db
ybbinpc pre win11/older one/albumdict.txt
ybbinpc pre win11/older one/artistdict.txt
ybbinpc pre win11/older one/log.txt
ybbinpc pre win11/older one/nowplaying.txt
ybbinpc pre win11/older one/RichPresenceInfo.txt
ybbinpc pre win11/older one/songdict.txt
ybbinpc pre win11/older one/songlog.db
authinfo.json
.gitignore
cron-log.txt
